.menu {
	width: 2%;
}

.canvas-wrapper {
	height: 100vh;
}

.components {
	width: 100%;
	height: 100%;
}

.color-box {
	width: 100px;
	height: 100px;
}

.component-list {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.canvas-header {
	width: 100%;
	display: flex;
	justify-content: space-around;
}

/* .canvas-header h1 {
	margin-left: 40%;
	margin-right: 50%;
}

.canvas-header img {
	margin-left: 8%;
} */